.gitignore
bin
obj
packages
Framework64
microsoft.testplatform*
*.bat
Connext/ConnextAutomation/.vs/
Connext/ConnextAutomation/BuildTools/
Connext/ConnextAutomation/TestResults/
Connext/ConnextAutomation/.vs/ConnextAutomation/FileContentIndex/3a29486b-ccaa-419f-957b-9553d6af67c1.vsidx
Connext/ConnextAutomation/.vs/ConnextAutomation/v17/.suo
Connext/ConnextAutomation/.vs/ConnextAutomation/v17/DocumentLayout.json
Connext/ConnextAutomation/.vs/ConnextAutomation/v17/TestStore/0/000.testlog

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
